.client {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;

  &__box {
    display: block;
    border: 1px solid var(--fourth-special-colour);
    border-radius: 4px;

    &:hover,
    &:focus {
      border: 1px solid var(--first-special-colour);

      .client__logo {
        fill: var(--first-special-colour);
      }
    }
  }

  &__logo {
    fill: var(--fourth-special-colour);
    max-width: 210px;
    max-height: 92px;

    @include tablet {
      max-width: 226px;
      max-height: 92px;
    }

    @include desktop {
      max-width: 170px;
      max-height: 92px;
    }
  }
}
