.contact {
  text-align: center;

  @include desktop {
    max-width: 247px;
    text-align: left;
  }

  &__link {
    color: rgba(100%, 100%, 100%, 60%);
    letter-spacing: 0.03em;
    line-height: 171%;
    font-size: 14px;
    font-style: normal;

    &--address {
      color: white;
      margin-top: 20px;
    }

    &:hover,
    &:focus {
      color: var(--first-special-colour);
    }
  }

  li:nth-child(2) {
    margin: 9px 0;
  }
}
