footer {
  background-color: var(--second-background-colour);
  padding: 60px 0;

  .container {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    row-gap: 60px;
    align-items: center;
    text-align: center;

    @include tablet {
      justify-content: space-around;
      flex-direction: row;
      column-gap: 144px;
      flex-wrap: wrap;
    }

    @include desktop {
      flex-wrap: nowrap;
      text-align: left;
      justify-content: space-between;
      gap: 0;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }

  .social-list__link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-list__icon {
    fill: white;
  }
}
