header {
  background-color: white;
  padding: 16px 0;
  border-bottom: 1px solid #ececec;

  .container,
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  ul {
    display: flex;
  }

  @include tablet {
    padding: 21px 0;
  }

  @include desktop {
    padding: 26px 0;
  }
}
