.menu-btn {
  // display: flex;
  // justify-content: right;
  border: none;
  background: transparent;

  &__icon {
    width: 24px;
    height: 16px;
    padding-right: 8px;
  }

  @include tablet {
    display: none;
  }
}
