.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 0;

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: var(--first-special-colour);

      .social-list__icon,
      .social-list__icon {
        fill: white;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    padding: 12px;
    fill: var(--fourth-special-colour);
  }
}
