:root {
  --first-background-colour: #e5e5e5;
  --second-background-colour: #2f303a;
  --third-background-colour: #f5f4fa;
  --first-special-colour: #2196f3;
  --second-special-colour: #757575;
  --third-special-colour: #212121;
  --fourth-special-colour: #afb1b8;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}
